---
title: "5 Tips for mastering video calls"
author: Betsy Church
author_gitlab: bchurch
author_twitter: betsy_church
categories: culture
image_title: '/images/blogimages/remote-life-cover.png'
description: "All-remote work wouldn't be possible without communication tools like
video conferencing. Here are a few tips we use at GitLab."
cta_button_text: 'Want to see GitLab at SXSW? Vote now!'
cta_button_link: 'https://panelpicker.sxsw.com/vote/103315'
tags: remote work, inside GitLab, collaboration
twitter_text: "Master the art of video calls with these 5 tips we use at @gitlab #remotework"
postType: content marketing
---

As remote and distributed work becomes more popular around the world, technology is
constantly evolving to support it. Communication tools, particularly video conferencing, allow
people to [connect and collaborate from anywhere with an internet connection](/2019/06/25/how-remote-work-at-gitlab-enables-location-independence/).

For an [all-remote](/company/culture/all-remote/), global company like
GitLab, video calls are even more crucial to how
we [communicate](/handbook/communication), get work done as a team,
and get to know each other.

While best practices for video calls may seem obvious to the experienced remote
professional, they often don’t come naturally to someone who’s used to working in a
traditional office setting. Here are some of the tips and tricks we use at
GitLab to help you master the art of a successful video call.

## 1. Know when a call is necessary

First things first: Do you even need to have a video call? We’ve all had those
work weeks that are overloaded with calls or meetings, when oftentimes the
topic could have been discussed asynchronously in an email, Google Doc, or even a GitLab issue.

We default to [asynchronous communication](/handbook/communication/) at
GitLab for many reasons. For one, it means there is far more documentation of your project
and the work being done. On a global team, asynchronous communication allows for progress to continue even after
one person’s working day ends. Asynchronous work is also naturally more inclusive
because [everyone can contribute](/company/strategy/#mission).

But that doesn’t mean it works for every conversation. At GitLab, our rule of thumb is
that if you go back and forth about a topic three times, it’s time for a video call to
talk it out in real time.

<%= partial "includes/blog/content-newsletter-cta", locals: { variant: "a" } %>

## 2. Use the right equipment correctly

The headphones and equipment you use can make a big difference in a successful video call,
but only if you use them the right way.

It's tempting to join a call using the built-in mic in your laptop, but grab a set of headphones instead. 
They help eliminate interference and background noise for others on the call, making the conversation flow more smoothly.

When you're preparing for your call, allow yourself a few minutes to test your audio and video, especially if it's the first time you've used that video conferencing tool. 

Another equipment misstep that happens often, particularly in companies with a mix of in-office and remote
employees, is what we call “hybrid calls.” A [hybrid call](/handbook/communication/#hybrid-calls-are-horrible)
 is when two (or more) people in one room try to share the same equipment during a call
 – laptops, cameras, even headphones. Not only does this create a negative and non-inclusive
  experience for anyone who’s not in the room, it rarely works well for the people sharing the equipment.

Do your remote team members a favor: Use your own laptop, camera, and headphones (and
preferably, your own conference room) so that you can talk, screen share, take notes, and be seen clearly.

## 3. Turn on your video

One of the best aspects of video calls is that they allow us to have high-fidelity conversations without being in the same location. 
But if you don't use your camera, it's tough to get to know the person you're meeting with. 
This is especially important at GitLab or any all-remote company, since we only get together in person every
so often. 

While it's certainly not required, we encourage team members to default to using their cameras whenever possible.
Whether you just came back from the gym, you’re eating lunch at your desk, or your dog,
spouse, or child is in the room (have them wave!), still consider turning on your camera.
These are all typical parts of a remote workday, and might even spark a conversation that
helps you get to know a member of your team better.

## 4. Speak up

It might go against your instincts around meeting etiquette, but (politely) speaking up or
even interrupting someone on a video call is perfectly okay.

This takes some getting used to because the latency on video calls means you may be
talking over someone for longer than you would in person. But you can’t have a dynamic,
collaborative meeting unless people are able to contribute, ask questions, and add context in the moment.

If you’re on a call and you notice a team member who appears to be struggling to get a word in,
don’t hesitate to specifically invite them into the conversation so that they have a
chance to speak as well. Your call will be more productive if everyone feels able to participate.

## 5. Watch the clock

It’s hard to decide which is more important: starting a call on time or ending it on time.
So we aim for both. A meeting that runs even two or three minutes over can put someone’s entire schedule behind.

If your team regularly struggles to end on time, try assigning someone ahead of each meeting to
be the time keeper and give everyone a heads up when the call is almost over. If you weren’t
able to get through your whole agenda in the allotted time, either schedule an additional call,
or continue to communicate about it asynchronously instead.

___

Learn more about GitLab’s approach to [all-remote work](https://about.gitlab.com/company/culture/all-remote/).
Interested in joining our team? Browse our [vacancies](https://about.gitlab.com/jobs/).

Cover image by [Trust "Tru" Katsande](https://unsplash.com/@iamtru?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) on [Unsplash](https://unsplash.com)
{: .note}
